@{
    Layout = "~/Views/Shared/Master.cshtml";
}


<div class="midLeft">
    <div class="midLeftItem">
        <div class="titlefunction">
            <img class="iconFunction" src="~/Images/icon/icon12.png"/>
            <p><b>Hỗ trợ</b></p>
        </div>
        <div class="midMargin">
            <table style="width: 169px; margin: auto;">
                <tr>
                    <td colspan="2" style="color: red; font-size: large; padding-bottom: 15px;">Hotline : 0927353268</td>
                </tr>
                <tr>
                    <td style="width:42px; padding-bottom: 10px">Linh</td>
                    <td style="width:127px;padding-bottom: 10px">
                        <a href="ymsgr:sendIM?thang123">
                            <img src="http://opi.yahoo.com/online?u=thang123&amp;m=g&amp;t=2" /></a>
                    </td>
                </tr>
                <tr>
                    <td>Thư</td>
                    <td>
                        <a href="ymsgr:sendIM?luducthang">
                            <img src="http://opi.yahoo.com/online?u=luducthang&amp;m=g&amp;t=2" /></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="midLeftItem">
        <div class="titlefunction">
            <img class="iconFunction" src="~/Images/icon/icon2.png"/>
            <p><b>Quảng cáo</b></p>
        </div>
        <div class="midMargin">
            <p style="text-align: center;">
                <a href="http://lamwebsiteredep.com/thiet-ke-website-500k.html">
                    <img alt="Thiết kế website" height="222" src="http://lamwebsiteredep.com/image/data/hinhdemo/Thietkeweb_01.jpg" width="200" /></a>
            </p>
            <p style="text-align: center;">
                <a href="http://lamwebsiteredep.com/thiet-ke-website-900k.html">
                    <img alt="thiết kế website,làm web" height="200" src="http://lamwebsiteredep.com/image/data/jzb1359397896.gif" width="200" /></a>
            </p>
            <p style="text-align: center;">
                <a href="http://lamwebsiteredep.com/quang-cao-google.html">
                    <img alt="thiet ke website,lam web" height="134" src="http://lamwebsiteredep.com/image/data/kep1347258861.jpg" width="200" /></a>
            </p>
            <p style="text-align: center;">
                <a href="http://lamwebsiteredep.com/thiet-ke-website-ban-hang">
                    <img alt="lam website gia re" height="150" src="http://lamwebsiteredep.com/image/data/3.jpg" width="200" /></a>
            </p>
            <p style="text-align: center;">
                <a href="http://lamwebsiteredep.com/quang-cao-google.html">
                    <img alt="quang cao google" height="106" src="http://lamwebsiteredep.com/image/data/banhangonline.png" width="200" /></a>
            </p>
            <p style="text-align: center;">
                <a href="http://lamwebsiteredep.com/khuyen-mai">
                    <img alt="thiết kế website khuyến mãi" height="84" src="http://lamwebsiteredep.com/image/data/khuyen_mai2.png" width="200" /></a>
            </p>
        </div>
    </div>
</div>
@RenderBody()
